*{
    font-family: "Papyrus" ,"Trebuchet MS", Arial;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 200;
    background-color: #4c96d7;
    color: white;
}

body {

    /* background-image: url("clouds.jpg");
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat; */
    min-height: 100vh;




}
#top-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dashed white;

}

h3 {
    margin-right: 20px;
}

.welcome-container {
    /* border: 3px solid black; */
    /* background: violet; */
    /* padding: 20px; */
    display: block



}

.welcomelogo {
    width: 300px;
    height: 300px;
    margin-left: 30%;
}

.registration-container {
    /* border: 2px dashed white; */
    /* background: white; */
    /* display: flex; */
    display: block;
    margin-left: 30%

}

.sn2 {

    width: 200px;
    height: 200px;
}

.profilepic {
    width: 90px;
    height: 110px;
    float: right;
    margin-right: 20px;
    object-fit: scale-down;

}

#profile .profilepic {
    width: 220px;
    height: 260px;
    float: left;
    object-fit: scale-down;
}

.userpic {
    width: 220px;
    height: 260px;
    float: left;
    object-fit: scale-down;
}

#friendsAndWannabesimg {
    width: 220px;
    height: 300px;
    object-fit: scale-down;
    display: flex;
    flex-wrap: wrap;
}

#onlineimg {
    width: 220px;
    height: 300px;
    object-fit: scale-down;
    display: flex;
    flex-wrap: wrap;
}

#listinfo {
    display: inline-block;
    margin-left: 20px;
}

.friends {
    font-size: 35px;

}

.lists {
    padding-bottom: 15px;
    border-bottom: 2px white solid;
}

.wannabes {
    font-size: 35px;
}

input {
    background-color: white;
    /* display: block; */
    color: #4c96d7;
    margin-bottom: 4px;

}

.logincont {
    display: block;
    margin-left: 30%
}

.regbutton {
    border-radius: 25%;
    margin-top: 5px;
}

#uploader {
    position: absolute;
    overflow: scroll;
    border-radius: 5%;
    padding: 8px;
    z-index: 9999;
    width: 15%;
    top: 150px;
    right: 150px;
    /* min-height: 100px;
    right: 0; */
    /* background-color: white; */
    text-align: center;
    color: black;
    border: 3px white solid;

}

.opp-info {
    margin-left:  240px;
    margin-top: 30px;
}

#movex {
    float: right;
}
