*{
    font-family: "Papyrus" ,"Trebuchet MS", Arial;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 200;
    /* background-color: snow; */
}

body {

    /* background-image: url("snow.jpg"); */
    /* z-index: -1; */



}
#top-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed grey;

}

h3 {
    margin-right: 20px;
}

.welcome-container {
    /* border: 3px solid black; */
    /* background: violet; */
    /* padding: 20px; */
    display: block



}

.welcomelogo {
    width: 200px;
    height: 200px;
    margin-left: 35%;
}

.registration-container {
    border: 1px dashed black;
    /* background: white; */

}

.sn2 {

    width: 200px;
    height: 200px;
}

.profilepic {
    width: 80px;
    height: 100px;
    float: right;
    margin-right: 20px;

}

#profile .profilepic {
    width: 220px;
    height: 300px;
    float: left;
}

.userpic {
    width: 220px;
    height: 300px;
    float: left;
}

#friendsAndWannabesimg {
    width: 220px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

#uploader {
    position: absolute;
    overflow: scroll;
    border-radius: 5%;
    padding: 8px;
    z-index: 9999;
    width: 15%;
    top: 150px;
    right: 150px;
    /* min-height: 100px;
    right: 0; */
    background-color: white;
    text-align: center;
    color: black;
    border: 3px black solid;

}

#movex {
    float: right;
}
